html, body {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
}

p {
  font-weight: 200;
  line-height: 1.5em;
  margin: 25px auto;
}

h1 {
  font-size: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

code, pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

a {
  font-weight: 900;
}

.link {
  padding: 10px 15px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.link:hover {
  -webkit-filter: brightness(95%);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
